:root {
  --colour-one: #638c6d;
  --colour-two: #e7fbb4;
  --colour-three: #df6d2d;
  --colour-four: #c84c05;
  --border-radius: 10px;
}

body {
  font-family: "Gill Sans", "Gill Sans MT";
  font-style: normal;
  font-weight: 800;
  color: white;
  background-color: #c84c05;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 50px;
  margin-right: 50px;
  display: block;
}

.nav-container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  border-radius: var(--border-radius);
}

header {
  background: var(--colour-one);
}

header::after {
  content: "";
  display: table;
  clear: both;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;
  position: relative;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 25px;
}

nav a:hover {
  color: #000;
}

nav a::before {
  content: "";
  display: block;
  height: 5px;
  background-color: #444;
  position: absolute;
  top: 0;
  width: 0%;
  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 50px;
}

.body-class {
  background-color: var(--colour-one);
  border: 5px solid var(--colour-one);
  border-radius: var(--border-radius);
  padding: 20px 20px;
  margin: auto;
}

.adopt-text {
  font-size: large;
}

.about-text {
  text-align: center;
  width: 30%;
}

.start {
  background-color: var(--colour-two);
  width: 15%;
  padding: 20px 20px;

  margin-left: 2.5%;
  border: none;
  border-radius: var(--border-radius);
  font-size: x-large;
  font-weight: bold;
  color: black;
  text-align: center;
  transition: background-color 0.5s;
}

.start:hover {
  background-color: var(--colour-three);
  transition: 0.5s;
  cursor: pointer;
}

.dog-adopt {
  width: 45%;
  height: 100%;
  border: solid 2px var(--colour-three);
  border-radius: 10px;
  margin-left: 5px;
  margin-bottom: 20px;
  padding: 10px 10px;
}

.dogs {
  position: relative;
  margin-left: 40%;
  width: 35%;
}

footer {
  position: static;
  bottom: 0;
  font-size: x-small;
}

.invalid-feedback,
.empty-feedback {
  display: none;
}

.was-validated :placeholder-shown:invalid~.empty-feedback {
  display: block;
}

.was-validated :not(:placeholder-shown):invalid~.invalid-feedback {
  display: block;
}

.is-invalid,
.was-validated :invalid {
  border-color: #dc3545;
}


.dog-photo {
  max-width: 300px;
}

.error-message {
  color: darkred;
  font-size: 16px;
  margin-top: 7px;
  display: block;
}

.send-button {
  background-color: var(--colour-two);
  width: 15%;
  padding: 20px 20px;
  margin-top: 20px;
  margin-left: 2.5%;
  border: none;
  border-radius: var(--border-radius);
  font-size: x-large;
  font-weight: bold;
  color: black;
  text-align: center;
  transition: background-color 0.5s;
}

.submit-btn {
  background-color: var(--colour-two);
  width: 15%;
  padding: 20px 20px;
  margin-top: 20px;
  margin-left: 2.5%;
  border: none;
  border-radius: var(--border-radius);
  font-size: x-large;
  font-weight: bold;
  color: black;
  text-align: center;
  transition: background-color 0.5s;
}

/* CSS responsiveness */

/* Cell phones: */

@media only screen and (max-width: 600px) {
  .nav-container {
    grid-area: 1 / span 6;
    flex-direction: column;
  }

  .text-content {
    grid-area: 2 / span 6;
  }

  .start {
    font-size: medium;
    width: 25%;
  }

  .send-button {
    font-size: medium;
    width: 25%;
  }

  .submit-btn {
    font-size: medium;
    width: 25%;
  }

  .about-text {
    font-size: medium;
  }

  h2 {
    font-size: x-large;
  }

  .dogs {
    width: 30%;
  }
}